<html>

<head>
    <title>View Result</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Style/css/viewResult.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="Style/css/styleForm.css" /> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
    <div class="headerCreatvote">View result</div>



</head>

<body>
    <div class="resultVoteCount">

        <!-- Name Proposals => <%= resultName %> <br>
        Score Vote => <%= score %><br> -->

    </div>

    <div class="voteFo">
        <% for(var i=0; i<resultName.length; i++){ %>
            <div class="formDetail">
                <div class="titleGauge">
                    <div href="#" class="headName" id="headName">
                        <%= resultName[i] %>
                        (<%= score[i] %>)
                            <div class="progress" id="progress">
                                <div class="progress-bar" role="progressbar" style="width: <%= (score[i]*100)/resultVoteCount %>%" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="peopleVoted">
                <div class="titlePeople">NUMBER OF PEOPLE VOTED</div>
                <div class="allVoted">
                    <%= resultVoteCount %>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="nameWinner">
                <div class="winner">Winner is</div>
                <div class="winnerName">
                    <%= winnName %>
                </div>
            </div>
        </div>
    </div>




</body>

<!-- <script type="text/javascript" src="../node_modules/web3/dist/web3.min.js"></script> -->
<script src="Style/js/datetime.js"></script>

</html>