<html>

<head>
  <title>Electronic Vote</title>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Style/css/vote.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


</head>

<body>

  <form action="/voted" method="POST">
    <div class="row">
        <div class="col-6 col-md-4"></div>
        <div class="col-6 col-md-4"><div class="contrainerVote">
            <div id="subjectText"> <%= nameTitle %> </div>
            <div class="voteFo">
              <% for(var i=0; i<resultName.length; i++){ %>
                <div class="formDetail">
                  <div class="button-some">
                      <div href="#" class="headName" id="headName">
                          <%= resultName[i] %>
                      </div>
                        <button type="submit" onclick="thankyou()" id="<%= [i] %>" name="thisclick" class="btn btn-success" value="<%= [i] %>">Vote</button>      
                  </div>
                </div>
      
                <% } %>
            </div>
          </div></div>
        <div class="col-6 col-md-4"></div>
      </div>


    
  </form>


</body>
<script type="text/javascript" src="./node_modules/web3/dist/web3.min.js"></script>

<script type="text/javascript">
	// var participantsField = document.getElementById("Participentfieldwrap"),
  //       form = document.getElementsByTagName("form")[0],
  //       ContestantNum = 4,
	// 	i;
		
  //   for(i=0; i<ContestantNum; i++){
	//   document.getElementById("headName").innerHTML = <%= resultName[i] %>;
  //     var clone = participantsField.cloneNode(true);
	//   form.appendChild(clone);
	  
  //   }
  function thankyou(){
    alert("Success")
  }

    
</script>

</html>